
*{
    font-family: Arial, sans-serif;
 }
    
.cta-container {
    background-image: url('fondo_cieloNubes.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 60px;
}

.cta-text {
    font-size: 28px;
    font-weight: bold;
}

.cta-button {
    background-color: #626bb2;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 15px 30px;
    text-transform: uppercase;
    cursor: pointer;
}