*{
    margin: 0;
}
h1{
    text-align: center;
    background-color: #EDEEEE;
    color: orange;
    border-bottom: 3px solid #4caf50;
    padding: 30px;
}

#galeria{
    max-width: 500px;
    margin: 0 auto;
    overflow: hidden;
}

#galeria img{
    float: left;
    padding: 1.2em;
    transition: background-color 0.3s;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

#galeria img:hover {
    background-color: #e8f1f4;
}
