body{
    font-family: Arial;
    text-align: center;
    box-sizing: border-box;
}

.styled-table{
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

h1{
    font-size: 20px;
    margin: 10px;
}

.styled-table caption{
    caption-side: bottom;
    font-size: 20px;
    padding: 10px;
}

.styled-table td{
    padding: 10px;
    border: 1px solid #ddd;
}

.styled-table th{
    background-color: #009688;
    color: white;
    padding: 10px;
    border: 1px solid #ddd;
}

.styled-table tbody tr:nth-child(odd){
    background-color: #f2f2f2;
}

.styled-table tbody tr:hover{
    background-color: #c7e2e0;
}

.styled-table tbody td:nth-child(3)::after{
    content: " €";
}
